// Colors

$purple: #391A70;
$dark-teal: #55a894;
$teal: #86e4ce;
$light-teal: #e7faf5;
$grey: #f6f6f6;
$dark-grey: #4a4a4a;
$red: #d80a18;
$light-purple: #F2EEF5;

$footer: #54566f;
$scores: rgba(60, 82, 141, .8);
$gradient-primary: #0187a6;

// Redefining Bootstrap Vars

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$primary: $purple;
$secondary: $teal;
$light: $gray-100;
$dark: $gray-800;

// Grid

$container-max-widths: (
  'xl': 1170px
);

// Fonts

$font-family-sans-serif: 'Montserrat', sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-extra-bold: 600;
$font-size-huge: 5rem;

$h1-font-size: 40px;
$h2-font-size: 28px;
$h3-font-size: 32px;
$h4-font-size: 18px;

$h1-font-weight: $font-weight-extra-bold;
$h2-font-weight: $font-weight-extra-bold;
$h3-font-weight: $font-weight-light;
$h4-font-weight: $font-weight-extra-bold;

$headings-color: $primary;
$headings-color-inverse: $primary;
$body-color: $light-purple;
$body-color-light: $gray-100;

// Links

$link-color: $gray-200;

// Buttons

$btn-border-radius: 50px;
$btn-padding-x: 120px;
$btn-padding-sm-x: 60px;
$btn-padding-y: 10px;

$btn-font-weight: $font-weight-normal;

$btn-cta-light: $teal;
$btn-cta-dark: $purple;

$theme-colors: (
  "cta-light": $btn-cta-light,
  "cta-dark": $btn-cta-dark
);

// Cards

$card-border-width: 1;
$card-bg: $white;

// Nav

$navbar-dark-color: $white;
$navbar-nav-link-padding-x: 30px;
$navbar-dark-active-color: $secondary;
$navbar-dark-toggler-border-color: transparent;

// Spacing

$spacer: 1rem;
$spacers: (
  6: ($spacer * 6),
  7: ($spacer * 12)
);

// Carousel

$carousel-control-color: $gray-800;
$carousel-indicator-width: 10px;
$carousel-indicator-height: 10px;
$carousel-indicator-spacer: 6px;

// Dropdowns

$dropdown-bg: transparent;
$dropdown-opacity: .85;
$dropdown-item-padding-y: 12px;
$dropdown-item-padding-x: 10px;
$dropdown-border-radius: 0;
$dropdown-border-width: 1px;
$dropdown-min-width: 100%;
$dropdown-link-color: $white;

// Forms

$input-border-width: 0;
$input-border-radius: 0;
$input-padding-y: 15px;
$input-color: $gray-600;
$input-border-color: $gray-300;
$input-focus-border-color: $gray-800;
$input-focus-box-shadow: 0;
$input-focus-color: $gray-900;
