{% assign features_header = include.features_header %}
{% assign features_list = include.features %}

<div class="ucr-product-features">
    {% if features_header %}
    <h3 class="text-center mb-3 mb-sm-5">{{ features_header }}</h3>
    {% endif %}


<Card style={{ width: '18rem' }}>
  <Card.Img variant="top" src="holder.js/100px180" />
  <Card.Body>
    <Card.Title>Card Title</Card.Title>
    <Card.Text>
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </Card.Text>
    <Button variant="primary">Go somewhere</Button>
  </Card.Body>
</Card>

    <div class="row">
        <div class="col-sm-6">
            <ul>
                {% for feature in features_list %}
                {% assign mod = forloop.index0 | modulo:2 %}
                {% if mod == 0  %}
                <li>{{ feature }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="col-sm-6">
            <ul>
                {% for feature in features_list %}
                {% assign mod = forloop.index0 | modulo:2 %}
                {% if mod == 1  %}
                <li>{{ feature }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
