<footer class="ucr-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <ul class="text-center text-md-left">
                    <li><a href="{% link about.md %}">About Us</a></li>
                    <li><a href="{% link careers.md %}">Careers</a></li>
                    <li><a href="{% link contact.md %}">Contact</a></li>
                    <li><a href="{% link terms.md %}">Terms of Use</a></li>
                    <li><a href="{% link privacy.md %}">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-4 ucr-social py-3 py-md-0">
                <ul class="text-center text-md-right">
                    {% for s in site.data.social %}
                        <li>
                            <a href="{{ s.url }}" target="_blank">
                                <img class="rounded-circle" src="{{ s.icon }}" alt="{{ s.name }}"/>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
{% if page.js %}
    {% for js in page.js %}
    <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}
{% endif %}