<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.seo.title | default:site.title }}</title>

    <meta property="description" content="{{ page.seo.description | default:site.description }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="{{ page.seo.og_type | default:'article' }}" />
    <meta property="og:title" content="{{ page.seo.title | default:site.title }}" />
    <meta property="og:description" content="{{ page.seo.description | default:site.description }}" />
    <meta property="og:image" content="{{ page.seo.og_image | default:site.default_share_image }}" />
    {% if page.seo.additional_meta %}
    {% for additional_meta in page.seo.additional_meta %}
    <meta property="{{ additional_meta.property }}" content="{{ additional_meta.content }}" />
    {% endfor %}
    {% endif %}

    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <link rel='shortcut icon' type='image/vnd.microsoft.icon' href='/assets/favicon/favicon.ico' /> <!-- IE -->
    <link rel='apple-touch-icon' type='image/png' href='/assets/favicon/apple-touch-icon-57x57.png' /> <!-- iPhone -->
    <link rel='apple-touch-icon' type='image/png' sizes='72x72' href='/assets/favicon/apple-touch-icon-72x72.png' /> <!-- iPad -->
    <link rel='apple-touch-icon' type='image/png' sizes='114x114' href='/assets/favicon/apple-touch-icon-114x114.png' /> <!-- iPhone4 -->
    <link rel='icon' type='image/png' href='/assets/favicon/favicon-128.png' /> <!-- Opera Speed Dial, at least 144×114 px -->

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

    {% if include.style_override %}
    <link rel="stylesheet" type="text/css" href="/assets/css/{{ include.style_override }}.css?v={{ site.env.VERSION }}" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="/assets/css/{{ page.name | replace:'.md','' }}.css?v={{ site.env.VERSION }}" />
    {% endif %}

    <!-- Global Namespace -->
    <script type="text/javascript">
        window.UCR = window.UCR || {};
    </script>
    <!-- End Global Namespace -->

    <!-- Google Tag Manager -->
    <script type="text/javascript">
        var dataLayer = [];
    </script>

    {% if include.data_layer %}
    {{ include.data_layer }}
    {% endif %}
    
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K3WTN2X');</script>
    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3WTN2X"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script type="text/javascript" src="/assets/dist/core.min.js?v={{ site.env.VERSION }}"></script>

    <!-- Start of Async Drift Code -->
    <script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('uu2vukfc5ygi');
    </script>
    <!-- End of Async Drift Code -->
</head>