<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/vendor/open-iconic/font/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/{{ page.name | replace:'.md','' }}.css" />

    <script type="text/javascript" src="/assets/dist/core.min.js"></script>
</head>