<nav class="navbar navbar-expand-lg navbar-dark fixed-top ucr-nav sps" data-sps-offset="400">
    <a href="/" class="navbar-brand">
        <img src="/assets/images/logo_light.png" alt="Universal CPA Review" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item{% if page.url == '/' %} active{% endif %}">
                <a class="nav-link" href="{% link index.md %}">Home</a>
            </li>
            <li class="nav-item{% if page.url == '/about/' %} active{% endif %}">
                <a class="nav-link" href="{% link about.md %}">About Universal CPA</a>
            </li>
            <li class="nav-item dropdown{% if page.url == '/products/' %} active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% link product_index.md %}">All</a>
                    {% assign products = site.products | where_exp:"item", "item.tags contains 'featured'" %}
                    {% for product in products %}
                    <a class="dropdown-item" href="{{ product.url }}">{{ product.name_full }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item{% if page.url == '/reviews/' %} active{% endif %}">
                <a class="nav-link" href="{% link reviews.md %}">Reviews</a>
            </li>
            <li class="nav-item dropdown{% if page.url == '/faqs/' %} active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="resourcesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% link faqs.md %}">FAQS</a>
                    <a class="dropdown-item" href="https://blog.universalcpareview.com" target="_blank">News</a>
                </div>
            </li>
            <li class="nav-item text-center text-lg-right ml-0 ml-lg-5">
                <a href="https://app.universalcpareview.com/account/login/?next=https://www.universalcpareview.com{{ page.url }}" class="btn btn-cta-light">Login/Sign Up</a>
            </li>
        </ul>
    </div>
</nav>
