<div class="container py-sm-4">
  <div class="row" style="background-color: #F2EEF5">
    <div class="col-md-10 my-4 mx-auto">
      <h6 class="text-center text-purple">OUR OFFERINGS </h6>
      <h3 class="text-center">
      We understand that everyone studies in different ways
      </h3>
      <hr>
      <div class="row my-3 bg-transparent">
        {% for bundle in page.section_bundles.bundles %}
          <div class="col-md-4 px-0 mx-0">
            <div class="list-group text-center my-3 bg-white">
              <div class="list-group-item border-0">
                <h4 class="text-center list-group-item-heading my-1 pricing-header text-purple">{{ bundle.name }}</h4>
                <p class="list-group-item-text pricing-subheader">{{ bundle.description }}</p>
              </div>
              <div>
              {% for bfeature in bundle.features %}
              <li class="list-group-item border-0">
              <span class="list-group-item-action">{{ bfeature }}</span>
            </li>
              {% endfor %}
              <li class="list-group-item col-md-offset-4 border-0">
                <h1 class="price">{{ bundle.price }}</h1>
                <a href="{{ site.portal.url }}{{ site.portal.paths.cart }}?product={{ page.checkout_code }}" class="btn-sm btn-cta-light px-3 py-2 text-white" style="border-radius: 1.2rem">{{ bundle.cta_text }}</a>
              </li>
            </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
