{% assign thumbnail = include.thumbnail | default:"/assets/images/placeholders/pug1.jpg" %}
{% assign name = include.name %}
{% assign description = include.description %}
{% assign price = include.price %}
{% assign cta_theme = include.cta_theme | default:"secondary" %}
{% assign cta_url = include.cta_url | default:nil %}
{% if cta_url == nil %}
{% capture cta_url %}{{ site.portal.url }}{{ site.portal.paths.cart }}?product={{ include.checkout_code }}{% endcapture %}
{% endif %}
{% assign cta_text = include.cta_text %}

<div class="ucr-product">
    <div class="ucr-product-inner">
        <div class="ucr-product-header px-3">
            <img class="ucr-product-thumbnail" src="/assets/images/product-assets /feature-icon.png" width="56" height="41" alt="{{ name }}"/>
            <h4 class="spaced">{{ name }}</h4>

            {% if description %}
            <p class="ucr-product-description">
                {{ description }}
            </p>
            {% endif %}

            {% if price %}
            <strong class="ucr-product-price d-block pb-3">
            {{ price }}
            </strong>
            {% endif %}
        </div>

        <div class="ucr-product-footer">
            <a class="ucr-product-cta {{ cta_theme }}" href="{{ cta_url }}">{{ cta_text }}</a>
        </div>
    </div>
</div>
