{% assign review = include.review %}
<section class="ucr-testimonial">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-1 d-none d-md-block">
                <img src="/assets/images/icons/quote.svg" class="ucr-quotes ucr-quotes-left" alt="quotes" />
            </div>

            <div class="col-md-9 inner-content">
                <h3 class="text-center text-md-left text-light">{{ review.content | remove: '<p>' }}</h3>

                <div class="ucr-testimonial-author text-center text-md-right text-light">
                    <strong>- {{ review.name }}, {{ review.occupation }}, Completed exam in {{ review.completion_year }}</strong>
                </div>
            </div>
        </div>
    </div>
</section>
