{% assign review = include.review %}
<section class="ucr-testimonial">
    <div class="container">
        <div class="row justify-content-center">
            <span class="oi oi-double-quote-serif-left d-none d-md-block ucr-quotes ucr-quotes-left col-1" title="quotes left" aria-hidden="true"></span>

            <div class="col-md-9 inner-content">
                <h3 class="inverse text-center text-md-left">{{ review.content | remove: '<p>' }}</h3>

                <div class="ucr-testimonial-author text-center text-md-right">
                    <strong>- {{ review.name }}, {{ review.occupation }}, Completed exam in {{ review.completion_year }}</strong>
                </div>
            </div>
        </div>
    </div>
</section>