// Buttons

.btn {
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    padding-left: $btn-padding-sm-x;
    padding-right: $btn-padding-sm-x;
  }
}

// Forms

.form-control {
  border-bottom: solid 1px $input-border-color;

  &:focus {
    border-bottom: solid 2px $input-focus-border-color;
    font-weight: $font-weight-bold;
  }
}

// Font

h1,h2,h3,h4,h5,h6 {
  letter-spacing: -0.1px;

  &.spaced {
    letter-spacing: 2.24px;
  }
}

h1 {
  font-weight: $h1-font-weight;
}

h2 {
  font-weight: $h2-font-weight;
}

h3 {
  font-weight: $h3-font-weight;
}

h4 {
  font-weight: $h4-font-weight;
}

.inverse {
  color: $headings-color-inverse;
}