.btn {
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    padding-left: $btn-padding-sm-x;
    padding-right: $btn-padding-sm-x;
  }
}

.form-control {
  border-bottom: solid 1px $input-border-color;

  &:focus {
    border-bottom: solid 2px $input-focus-border-color;
    font-weight: $font-weight-bold;
  }
}
