---
---
@import 'site';

.ucr-section {
  text-align: center;

  /**-- About Section --**/
  &.ucr-section-about {
    img {
      width: 100%;
    }

    .ucr-section-about-content {
      text-align: left;

      p {
        padding: 15px 0 30px 0;
        color: #391a70;
      }
    }
  }

  /**-- Video Section --**/
  .ucr-video iframe {
    height: 500px;

    @include media-breakpoint-down(sm) {
      height: 250px;
    }
  }
}
