---
---
@import 'site';

.ucr-section {
  text-align: center;

  /**-- About Section --**/
  &.ucr-section-about {
    img {
      width: 100%;
    }

    .ucr-section-about-content {
      text-align: left;

      p {
        padding: 15px 0 30px 0;
      }
    }
  }

  /**-- Team Section --**/
  &.ucr-section-team {
    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        display: inline-block;

        h4 {
          padding-top: 10px;
          margin-bottom: 0;
          font-weight: $font-weight-bold;
        }

        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}