---
---
@import 'site';

.ucr-section-hero {
  ul {
    padding-left: 0;
  }

  .card {
    padding: 15px;

    .card-body {
      background-color: $white;
      padding: 40px 30px;
    }

    .card-title {
      font-weight: $font-weight-extra-bold;
      min-height: 50px;
    }

    .card-footer {
      padding: 0;

      .btn-apply {
        border-radius: 0;
      }

      .btn-apply:not(.collapsed) {
        display: none;
      }

      .ucr-job-form {
        padding: 10px 20px 0 20px;

        form {
          padding: 20px;

          input[type="submit"] {
            margin-top: 30px;
            padding: 10px 50px;
          }
        }
      }
    }

    @include media-breakpoint-down(lg) {
      .ucr-job-form form input[type="submit"] {
        padding-left: $btn-padding-sm-x;
        padding-right: $btn-padding-sm-x;
      }
    }
  }
}
