@import 'site';


.ucr-section-hero {
  ul:not(.ucr-social) {
    padding-left: 0;
    list-style-type: none;

    li {
      padding: 0 20px 80px 0;

      h4 {
        text-transform: uppercase;
      }

      a {
        color: $gray-800;
        font-weight: $font-weight-light;
        font-size: $font-size-lg;
      }
    }

    @include media-breakpoint-down(lg) {
      li a {
        font-size: $font-size-base;
      }
    }

    @include media-breakpoint-down(md) {
      li {
        padding: 0 0 30px 0;
      }
    }
  }

  ul.ucr-social {
    padding-left: 0;
    list-style-type: none;

    li:first-child {
      padding-left: 0 !important;
    }
  }

  form {
    background: $white;
    padding: 60px 25px 25px 25px;
  }
}