---
---
@import 'site';

/**-- Section Blocks --**/
.ucr-section {
  /**-- Hero Section --**/
  &.ucr-section-hero {
    padding-top: 160px;
    background-image: url('/assets/images/placeholders/person.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 300px;
  }

  /**-- Benefits Section --**/
  &.ucr-section-benefits {
    text-align: center;

    ul {
      list-style-type: none;
      padding: 30px 0 10px 0;

      li {
        padding: 0 90px;
      }

      img {
        width: 100px;
      }

      h4 {
        padding-top: 40px;
        font-weight: $font-weight-extra-bold;
      }
    }
  }

  /**-- Products Section --**/
  &.ucr-section-products {
    text-align: center;

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        text-align: left;
        padding-bottom: 50px;

        span {
          display: block;
          padding-top: 10px;
        }
      }
    }

    img {
      width: 100%;
    }

    h4 {
      font-weight: $font-weight-extra-bold;
    }
  }

  /**-- Featured Section --**/
  &.ucr-section-featured {
    text-align: center;

    ol {
      bottom: -100px;

      li {
        background-color: $gray-500;

        &.active {
          background-color: $gray-800;
        }
      }
    }

    h2 {
      padding: 40px 0;
    }

    img {
      width: 100px;
      margin: auto;
    }
  }
}