---
---
@import 'site';

/**-- Section Blocks --**/
.ucr-section {
  min-height: 530px;
  padding: 120px 0 60px 0;
  box-sizing: content-box;

  @include media-breakpoint-down(md) {
    padding: 60px 0 40px 0;
  }

  p {
    padding: 30px 0;
  }

  .ucr-section-header {
    padding: 0 10px;
  }

  /**-- Hero Section --**/
  &.ucr-section-hero {
    background-color: $light;
    padding-top: 160px;
    background-image: url('/assets/images/placeholders/person.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 300px;
  }

  /**-- Benefits Section --**/
  &.ucr-section-benefits {
    text-align: center;

    ul {
      list-style-type: none;
      padding: 30px 0 10px 0;

      li {
        padding: 0 90px;
      }

      img {
        width: 100px;
      }

      h4 {
        padding-top: 40px;
        font-weight: $font-weight-extra-bold;
      }
    }
  }

  /**-- Products Section --**/
  &.ucr-section-products {
    text-align: center;

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        text-align: left;
        padding-bottom: 50px;

        span {
          display: block;
          padding-top: 10px;
        }
      }
    }

    img {
      width: 100%;
    }

    h4 {
      font-weight: $font-weight-extra-bold;
    }
  }

  /**-- Featured Section --**/
  &.ucr-section-featured {
    text-align: center;

    ol {
      bottom: -100px;

      li {
        background-color: $gray-500;

        &.active {
          background-color: $gray-800;
        }
      }
    }

    h2 {
      padding: 40px 0;
    }

    img {
      width: 100px;
      margin: auto;
    }
  }
}

/**-- Testimonial Blocks --**/
.ucr-testimonial {
  background: $primary;
  text-align: center;
  padding: 120px 0 100px 0;

  @include media-breakpoint-down(md) {
    padding: 60px 0;
  }

  > div {
    position: relative;

    .ucr-quotes {
      position: absolute;
      font-size: 70px;
      color: $white;

      &.ucr-quotes-left {
        left: 100px;
        top: -40px;
      }

      &.ucr-quotes-right {
        right: 100px;
        top: auto;
        bottom: -20px;
      }
    }

    .inner-content {
      h3 {
        color: $white;
      }

      strong {
        font-weight: $font-weight-extra-bold;
        text-transform: uppercase;
        color: $gray-700;
      }

      span {
        font-weight: $font-weight-extra-light;
        text-transform: uppercase;
        color: $gray-600;
      }
    }
  }
}