---
---
@import 'site';

/**-- Section Blocks --**/
.ucr-section {
  box-sizing: inherit;
  /**-- Hero Section --**/
  &.ucr-section-hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 0;

    .ucr-section-hero-inner {
      padding-top: 290px;
    }

    @include media-breakpoint-down(lg) {
      min-height: 500px;
      background-image:url('/assets/images/product-assets /1600x500.jpg');
      background-position-x: -30vw;

      .ucr-section-hero-inner {
        padding-top: 130px;
      }
    }

    @include media-breakpoint-down(sm) {
      background-position-x: 0;
      background:
      radial-gradient(
      rgba(255, 255, 255, 0.65),
      rgba(0, 0, 0, 0.2)
      ),url('/assets/images/product-assets /800x1200.jpg');

    }
  }

  /**-- Products Section --**/
  &.ucr-section-products {
    text-align: center;

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        text-align: left;
        padding-bottom: 50px;

        span {
          display: block;
          padding-top: 10px;
        }
      }
    }

    img {
      width: 100%;
    }

    iframe {
      height: 475px;
    }
  }

  /**-- Featured Section --**/
  &.ucr-section-featured {
    text-align: center;

    ol {
      bottom: -20px;

      li {
        background-color: $gray-500;

        &.active {
          background-color: $gray-800;
        }
      }
    }

    .carousel-inner {
      min-height: 400px;
    }

    .carousel-control-prev, .carousel-control-next {
      top: 50%;
    }

    .carousel-control-prev {
      left: -100px;
    }

    .carousel-control-next {
      right: -100px;
    }

    h3 {
      padding: 40px 0;
      color: $gray-700;
    }

    img {
      width: 100px;
      margin: auto;
    }

    @include media-breakpoint-down(lg) {
      .carousel-control-prev {
        left: 0;
      }

      .carousel-control-next {
        right: 0;
      }
    }
  }
}
