---
---
@import 'site';


.ucr-section {
  &.ucr-section-hero {
    padding-top: 100px;
    padding-bottom: 0;
    background: url('/assets/images/patterns/products-background-gradient.jpg') no-repeat;
    background-size: cover;

    .ucr-section-header p {
      padding-bottom: 0;
      font-weight: $font-weight-light;
    }

    .ucr-section-body {
      padding-bottom: 0;

      img {
        height: 300px;
      }
    }

    @include media-breakpoint-down(sm) {
      padding-top: 60px;

      .ucr-section-body img {
        height: 260px;
        max-width: 100%;
      }
    }
  }

  &.ucr-section-features {
    padding-top: 15px;

    ul {
      padding-left: 0;
      list-style-type: none;

      li {
        padding: 15px 20px 15px 45px;
        background: url('/assets/images/icons/feature-check.svg') no-repeat center left;
      }
    }
  }
}

.ucr-button-row {
  text-align: center;

  .btn {
    padding-left: 0;
    padding-right: 0;
    width: 300px;
  }

  .btn.btn-cta-dark {
    color: $secondary;
  }
}