---
---
@import 'site';


.ucr-section {
  &.ucr-section-hero {
    padding-top: 100px;
    padding-bottom: 0;
    // background-image: url('/assets/images/banners/Base_Product_Banner@2x.png');

    .ucr-section-header {
      .new-price {
        color: $light-teal;
      }

      .old-price {
        color: $red;
        text-decoration: line-through;
      }

      p {
        padding-bottom: 0;
        font-weight: $font-weight-light;
      }
    }

    .ucr-section-body {
      padding-bottom: 0;

      img {
        height: 400px;
      }

      .ucr-product-thumbnail {
        height: 250px;
      }
    }

    @include media-breakpoint-down(sm) {
      padding-top: 60px;

      .ucr-section-body img {
        width: 100%;
        height: auto;
      }
    }
  }

  .ucr-images-list {
    .plus {
      font-size: 3rem;
      font-weight: $font-weight-bold;
      color: $dark-grey;
    }

    .ucr-images-list__image {
      max-width: 200px;

      img {
        width: 100%;
      }
    }
  }

  .ucr-video iframe {
    height: 500px;

    @include media-breakpoint-down(sm) {
      height: 250px;
    }
  }
}

.ucr-button-row {
  text-align: center;

  .btn {
    padding-left: 0;
    padding-right: 0;
    width: 300px;
  }

  .btn.btn-cta-dark {
    color: $secondary;
  }
}
