---
---
@import 'site';

.ucr-section.ucr-section-hero {
  padding-top: 100px;
  padding-bottom: 0;
  background: url('/assets/images/patterns/products-background-gradient.jpg') no-repeat;
  background-size: cover;

  .ucr-section-header {
    p {
      font-weight: $font-weight-light;
    }
  }

  .ucr-section-body {
    padding-bottom: 0;

    img {
      height: 300px;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: 60px;

    .ucr-section-body img {
      height: 260px;
      max-width: 100%;
    }
  }
}

.ucr-section-footer {
  text-align: center;
}