---
---
@import 'site';

.ucr-section.ucr-section-hero {
  padding-top: 100px;
  padding-bottom: 0;
  background-color: #391572;
  background-image: src("/assets/images/patterns/Background.png");

  .ucr-section-header {
    p {
      font-weight: $font-weight-light;
    }

    .new-price {
      color: $light-teal;
    }

    .old-price {
      color: $red;
      text-decoration: line-through;
    }
  }

  .ucr-section-body {
    padding-bottom: 0;

    .ucr-mocks img {
      width: 50%;
    }
  }

  .ucr-bundle-image {
    width: 300px;

    @include media-breakpoint-down(sm) {
      width: 200px;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: 60px;

    .ucr-section-body img {
      height: auto;
    }
  }
}

.ucr-section-footer {
  text-align: center;
}
