---
---
@import 'site';

.ucr-section-hero {
  .ucr-section-header p {
    padding-bottom: 0;
  }
}
#mocks {
  position: relative;

  img {
    &#iphone {
      position: absolute;
      right: -100px;
      bottom: -50px;
      height: 300px;
    }

    &#laptop {
      width: 100%;
    }
  }

  @include media-breakpoint-down(md) {
    img#iphone {
      height: 200px;
      right: -50px;
    }
  }

  @include media-breakpoint-down(sm) {
    img#iphone {
      height: 180px;
      right: 0px;
      top: 50px;
    }
  }
}

.ucr-button-row {
  text-align: center;

  .btn {
    padding-left: 0;
    padding-right: 0;
    width: 300px;
  }

  a.btn-cta-light {
    background: transparent;
    color: $gray-700;
    border-color: $gray-700;
  }
}

.ucr-section-content {
  ul {
    list-style-type: none;
    padding-left: 0;

    li:before {
      content: '✓';
      padding-right: 10px;
    }
  }
}

.ucr-section-products {
  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      .ucr-product-inner {
        background: $white;
        text-align: center;

        img {
          width: 140px;
          height: 140px;
          background: $primary;
          margin: auto;
          position: relative;
          top: -35px;
          display: inline-block;
        }

        h3 {
          padding: 0 0 20px 0;
          margin-bottom: 0;
        }
      }
      .ucr-product-footer {
        a {
          background: $primary;
          display: block;
          padding: 10px 0;
          text-align: center;
        }
      }
    }
  }
}