.ucr-banner {
padding: 20px 0;
text-align: center;
background: #391572 0% 0% no-repeat padding-box;
opacity: 0.7;

  h5 {
    color: $purple;
    margin-bottom: 0;
  }

  .btn {
    color: $secondary;
  }


}
