.ucr-banner {
  /*background: $secondary;*/
  padding: 20px 0;

text-align: center;
background: transparent url('/assets/images/banners/Base_Product_Banner@2x.png') 0% 0% no-repeat padding-box;

width: 1894px;
height: 881px;
background: #391572 0% 0% no-repeat padding-box;
box-shadow: 0px 10px 60px #00000026;
opacity: 0.7;

  h5 {
    color: #F2EEF5;
    margin-bottom: 0;
  }

  .btn {
    color: $secondary;
  }


}