$section-colors: (
  ("gray": $grey)
);

.ucr-section {
  padding: 100px 0 60px 0;
  box-sizing: content-box;

  p {
    padding: 10px 0;
  }

  .ucr-section-header {
    padding: 0 10px;
    text-align: center;
  }

  &.ucr-section-hero {
    background-color: $light;
    padding-top: 200px;

    p {
      font-weight: $font-weight-light;
      color: black;
    }
  }

  @include media-breakpoint-down(md) {
    padding: 60px 0 40px 0;

    &.ucr-section-hero {
      padding-top: 50px;
    }
  }

  @each $kls, $color in $section-colors {
    &.#{$kls} {
      background: $color;
    }
  }
}




