.ucr-section {
  padding: 100px 0 60px 0;
  box-sizing: content-box;

  @include media-breakpoint-down(md) {
    padding: 60px 0 40px 0;
  }

  p {
    padding: 10px 0;
  }

  .ucr-section-header {
    padding: 0 10px;
    text-align: center;
  }

  &.ucr-section-hero {
    background-color: $light;
    padding-top: 0;
  }
}