.ucr-section-features {
  padding-top: 20px;
  padding-bottom: 20px;

  ul {
    padding-left: 0;
    list-style-type: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 1;

    li {
      width:  250px;
	  height: 200px;

      /*background: url('/assets/images/icons/feature-check.svg') no-repeat center left;*/
    }
  }
}
