.ucr-section-features {
  padding-top: 5px;

  ul {
    padding-left: 0;
    list-style-type: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 1;

    li {
      width: 275px;
	  height: 286px;
	  border: 1px black;
	  border-radius: 10px;
      /*background: url('/assets/images/icons/feature-check.svg') no-repeat center left;*/
    }
  }
}
