.ucr-section-features {
  padding-top: 15px;

  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      padding: 15px 20px 15px 45px;
      background: url('/assets/images/icons/feature-check.svg') no-repeat center left;
    }
  }
}