.ucr-footer {
  padding: 40px 0;
  background: $footer;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      display: inline-block;
      padding: 0 0 0 10px;

      img {
        width: 30px;
      }

      a {
        font-weight: $font-weight-light;
        padding-right: 10px;
        border-right: solid 1px;
      }

      &:last-child a {
        border-right: none;
      }
    }
  }

  @include media-breakpoint-down(md) {
    ul li {
      padding: 0 0 0 5px;

      a {
        font-size: 13px;
        padding-right: 8px;
      }
    }
  }

  .ucr-social {
    a {
      padding-right: 0;
      border-right: none;
    }
  }
}