.ucr-nav {
  background: $primary;
  padding: 2 20px;
  -webkit-transition: background 1s; /* Safari */
  transition: background 1s;

  &.sps--blw {
    background: $footer;
    -webkit-transition: background 1s; /* Safari */
    transition: background 1s;
    border-bottom: solid 1px;
  }

  .btn {
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
  }

  ul li {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .nav-item a {
    text-transform: uppercase;
    font-size: 12px;
  }

  .navbar-brand img {
    width: 270px;
  }


  @include media-breakpoint-down(lg) {
    ul li {
      padding-top: 10px;
      padding-bottom: 10px;

       a {
        padding-left: 15px !important;
        padding-right: 15px !important;
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: 10px;

    .navbar-brand img {
      width: 170px;
    }
  }

  .dropdown {
    &.show {
      background: $dropdown-bg;

      > .dropdown-toggle {
        color: $secondary;
      }

      .dropdown-menu {
        margin-top: 0;
        border-top: none;
        padding: 0;
      }
    }

    .dropdown-item {
      text-align: center;
    }

    @include media-breakpoint-up(lg) {
      .dropdown-item {
        background: $white;
        color: $gray-800;
        border-bottom: solid 1px $gray-700;

        &:hover {
          background: $primary;
          color: $light;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    @include media-breakpoint-down(md) {
      .dropdown-item {
        text-align: left;
      }
    }
  }
}