@charset "UTF-8";

.text-purple {
	color: #391572;
}

.price-subtext {
	color: #343434;
}

.bg-alt {
	background-color: #F8F5FA;
}

.pricing-btn { 
	font: Dosis;
	font-variant-caps: all-petite-caps;
	border-radius: 50px;
	text-align: center;
}

