@charset "UTF-8";

.text-purple {
color: #391572;
}

.pricing-header {
font-size: 30px;
font-family: "Lato";
font-weight: 800;
color: rgb(57, 21, 114);
line-height: 1.2;
text-align: center;
display: inline-block;
}
.pricing-subheader {
font-size: 16px;
font-family: "Lato";
font-weight: 400;
color: #333333;
line-height: 1.2;
text-align: center;
}

.price-subtext {
color: #343434;
}

list-group-item:nth-child(odd)
  background-color: #f8f5fa!important;
}

.feature-text{
  font-family: "Dosis";
  font-size: 18.56pt;
  font-weight: 400;
  color: 555556;
  background-color:#f8f5fa;
}

.pricing-cta {
padding: 5px 15px;
background-color: #86e4ce;
border-color: #86e4ce;
font-size: 12px;
font-family: "Lato";
color: rgb(255, 255, 255);
font-weight: bold;
text-transform: uppercase;
line-height: 1.2;
text-align: left;
}
