$cta-themes:(
  primary: (background: $primary, color: #F8F5FA),
  secondary: (background: $light-teal, color: $primary),
);


.ucr-product-card {

}

.ucr-product-inner {
  background: #ffffff!important;
}

.ucr-product {
  .ucr-product-inner {
    box-shadow: 1px 1px 6px 0 #00000040;
    background-color: white;

    .ucr-product-header {
      text-align: center;

      h3 {
        padding: 0 0 20px 0;
        margin-bottom: 0;
      }
    }

    .feature-block{
      border: 2px #F8F5FA;
    }
    .ucr-product-footer {
      .ucr-product-cta {
        background: $secondary;
        color: $white;
        display: block;
        padding: 10px 0;
        text-align: center;
        text-transform: uppercase;

        @each $kls, $color-map in $cta-themes {
          &.#{$kls} {
            background: map-get($color-map, 'background');
            color: map-get($color-map, 'color');
          }
        }
      }
    }
  }
}
