$cta-themes: (
  primary: (background: $primary, color: #F2EEF5)
  /*secondary: (background: $light-teal, color: $primary),*/
);

.ucr-product {
  .ucr-product-inner {
    /*box-shadow: 1px 1px 6px 0 #00000040;*/
    background: #F2EEF5;

    .ucr-product-header {
      text-align: center;

      img {
        width: 140px;
        height: 140px;
        /*background: $primary;*/
        margin: auto;
        position: relative;
        top: -35px;
        display: inline-block;
      }

      h4 {
        padding: 0 0 20px 0;
        margin-bottom: 0;
      }
    }

    .ucr-product-footer {
      .ucr-product-cta {
        background: $light-teal;
        /*color: $primary;*/
        display: block;
        padding: 10px 0;
        text-align: center;
        text-transform: uppercase;

        @each $kls, $color-map in $cta-themes {
          &.#{$kls} {
            background: map-get($color-map, 'background');
            color: map-get($color-map, 'color');
          }
        }
      }
    }
  }
}
