#scores-timer {
  margin-top: 90px;
  padding: 20px 0;
  background: $scores;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  h4 {
    color: $gray-100;
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size-sm;
  }

  @include media-breakpoint-down(md) {
    margin-top: 60px;
  }
}