.ucr-testimonial {
  background: $primary;
  text-align: left;
  padding: 80px 0 80px 0;

  > div {
    .ucr-quotes {
      width: 70px;
      color: $secondary;
    }

    .inner-content {
      strong {
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: $secondary;
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: 60px 0;

    > div {
      .ucr-quotes {
        width: 50px;
      }
    }

    .inner-content {
      h3 {
        font-size: ($h3-font-size * .7);
      }

      strong {
        font-size: 14px;
      }
    }
  }
}