{% assign featured_reviews = site.reviews | where:"featured","true" %}
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include nav.html %}

    {% capture section_content %}
    <div class="ucr-section-header px-3 px-lg-5">
        <h1>{{ page.section_hero.header }}</h1>
        <p>{{ page.section_hero.subheader }}</p>
    </div>

    {% include benefits_block.html %}

    <div class="row mt-3">
        <div class="col-12 text-center">
            <a href="{% link product_index.md %}" class="btn btn-cta-light">Start Free Trial</a>
        </div>
    </div>
    {% endcapture %}
    {% include content_block.html content=section_content section_name='ucr-section-hero' %}

    {% capture section_content %}
    <h2>{{ page.section_about.header }}</h2>
    <p>{{ page.section_about.subheader }}</p>

    <div class="row pt-3 pt-sm-5 align-items-center">
        <div class="col-5 d-none d-md-block px-4">
            <img class="rounded-circle" src="/assets/images/banners/about-feature.jpg" alt="Universal CPA &amp; Me" />
        </div>

        <div class="col-12 col-md-7 ucr-section-about-content">
            {{ page.content | markdownify }}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 text-center">
            <a href="{% link product_index.md %}" class="btn btn-cta-light">Try Us Out</a>
        </div>
    </div>
    {% endcapture %}
    {% include content_block.html content=section_content section_name='ucr-section-about text-left text-md-center' %}

    {% assign review=featured_reviews[1] %}
    {% include testimonial_block.html review=review %}

    <!-- Video Section -->
    {% if page.section_video and page.section_video.yt_id %}
    {% capture section_content %}
    <div class="ucr-section-header pt-3 pt-sm-4 px-3 px-md-5">
        <h2>{{ page.section_video.header }}</h2>
        <span>{{ page.section_video.subheader }}</span>
    </div>

    <div class="ucr-video pt-4">
        {% include yt_video.html yt_id=page.section_video.yt_id %}
    </div>
    {% endcapture %}
    {% include content_block.html content=section_content section_name='ucr-section-video pt-4' %}
    {% endif %}

    {% include banner_block.html headline=page.banner.headline cta_url=page.banner.cta_url cta_text=page.banner.cta_text %}

    {% include footer.html %}
</body>
</html>
