{% assign featured_reviews = site.reviews | where:"featured","true" %}
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    {% include nav.html %}

    <!-- Hero -->
    {% capture section_content %}
    <div class="row">
        <div class="offset-sm-7 col-sm-5 text-right">
            <h1>
                {{ page.section_hero.header }}
            </h1>

            <p>{{ page.section_hero.subheader }}</p>

            <a class="btn btn-cta-dark">Learn More</a>
        </div>
    </div>
    {% endcapture %}
    {% include content_block.html content=section_content section_name='ucr-section-hero' %}

    <!-- Benefits -->
    {% capture section_content %}
    <div class="ucr-section-header">
        <h2>{{ page.section_benefits.header }}</h2>
        <p>{{ page.section_benefits.subheader }}</p>
    </div>

    <ul class="row">
        {% for benefit in site.data.benefits %}
        <li class="col">
            <img class="rounded-circle" src="{{ benefit.image }}" alt="{{ benefit.name }}" />

            <h4>{{ benefit.name }}</h4>

            <p>{{ benefit.description }}</p>
        </li>
        {% endfor %}
    </ul>

    <a href="#" class="btn btn-cta-dark">Learn More</a>
    {% endcapture %}
    {% include content_block.html content=section_content section_name='ucr-section-benefits' %}

    <!-- Testimonial #1 -->
    {% assign review = featured_reviews[0] %}
    {% include testimonial_block.html review=review %}

    <!-- Products -->
    {% capture section_content %}
    <div class="ucr-section-header">
        <h2>{{ page.section_products.header }}</h2>
        <p>{{ page.section_products.subheader }}</p>
    </div>

    <a href="#" class="btn btn-cta-dark">Try for Free</a>

    <div class="row pt-5 py-0 py-sm-6">
        <div class="d-none d-sm-block col-sm-7">
            <img src="/assets/images/placeholders/laptop.png" alt="responsive design" />
        </div>

        <div class="col-12 col-sm-5">
            <ul>
                {% for prod in site.data.product_briefs %}
                <li class="text-center text-sm-left">
                    <h4>{{ prod.name }}</h4>
                    <span>{{ prod.summary }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endcapture %}
    {% include content_block.html content=section_content section_name='ucr-section-products' %}

    <!-- Testimonial #2 -->
    {% assign review = featured_reviews[1] %}
    {% include testimonial_block.html review=review %}

    <!-- Featured Slides -->
    {% assign slides = page.section_featured.slides %}
    {% capture section_content %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for slide in slides %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.index0 }}" class="active"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for slide in slides %}
            <div class="carousel-item px-1 px-md-6{% if forloop.index0 == 0 %} active{% endif %}">
                <img class="d-block rounded-circle" src="{{ slide.icon }}" alt="Featured {{ forloop.index0 }}" />

                <h2>{{ slide.headline }}</h2>

                <a href="{{ slide.cta.url }}" class="btn btn-cta-dark">{{ slide.cta.text }}</a>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev d-none d-md-block" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next d-none d-md-block" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {% endcapture %}
    {% include content_block.html content=section_content section_name='ucr-section-featured' %}

    <!-- Testimonial #3 -->
    {% assign review = featured_reviews[2] %}
    {% include testimonial_block.html review=review %}

    {% include footer.html %}
</body>
</html>