{% assign featured_reviews = site.reviews | where:"featured","true" %}
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    {% include nav.html %}

    <!-- Hero -->
    {% capture section_content %}
    <div class="row">
        <div class="offset-md-6 col-md-6 text-center text-md-right ucr-section-hero-inner">
            <h1 class="inverse">{{ page.section_hero.header }}</h1>

            <p class="inverse">{{ page.section_hero.subheader }}</p>

            <a href="{% link about.md %}" class="btn btn-cta-light">Learn More</a>
        </div>
    </div>
    {% endcapture %}
    {% include content_block.html content=section_content section_name='ucr-section-hero' %}

    <!-- Benefits -->
    {% capture section_content %}
    <div class="ucr-section-header">
        <h2>{{ page.section_benefits.header }}</h2>
        <p>{{ page.section_benefits.subheader }}</p>
    </div>

    {% include benefits_block.html %}

    <a href="{% link product_index.md %}" class="btn btn-cta-light">Learn More</a>
    {% endcapture %}
    {% include content_block.html content=section_content section_name='ucr-section-benefits text-center' %}

    <!-- Testimonial #1 -->
    {% assign review = featured_reviews[0] %}
    {% include testimonial_block.html review=review %}

    <!-- Products -->
    {% capture section_content %}
    <div class="ucr-section-header">
        <h2>{{ page.section_products.header }}</h2>
        <p>{{ page.section_products.subheader }}</p>
    </div>

    <div class="row pt-3 pt-sm-4 align-items-center">
        <div class="d-none d-sm-block col-sm-7">
            {% include mocks_block.html %}
        </div>

        <div class="col-12 col-sm-5">
            <ul>
                {% for prod in site.data.product_briefs %}
                <li class="text-center text-sm-left">
                    <h4>{{ prod.name }}</h4>
                    <span>{{ prod.summary }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <a href="{% link product_index.md %}" class="btn btn-cta-light">Try for Free</a>
    {% endcapture %}
    {% include content_block.html content=section_content section_name='ucr-section-products' %}

    <!-- Testimonial #2 -->
    {% assign review = featured_reviews[1] %}
    {% include testimonial_block.html review=review %}

    <!-- Featured Slides -->
    {% assign slides = page.section_featured.slides %}
    {% capture section_content %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for slide in slides %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.index0 }}" class="active"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for slide in slides %}
            <div class="carousel-item px-1 px-md-6{% if forloop.index0 == 0 %} active{% endif %}">
                <img class="d-block rounded-circle" src="{{ slide.icon }}" alt="Featured {{ forloop.index0 }}" />

                <h3>{{ slide.headline }}</h3>

                <a href="{{ slide.cta.url }}" class="btn btn-cta-light">{{ slide.cta.text }}</a>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev d-none d-md-block" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next d-none d-md-block" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {% endcapture %}
    {% include content_block.html content=section_content section_name='ucr-section-featured pb-6' %}

    <!-- Testimonial #3 -->
    {% assign review = featured_reviews[2] %}
    {% include testimonial_block.html review=review %}

    {% include footer.html %}
</body>
</html>