{% assign featured_reviews = site.reviews | where:"featured","true" %}
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include nav.html %}

    {% include scores_release_block.html %}

    {% capture section_content %}
    <div class="ucr-section-header px-0 px-md-5">
        <h1 class="inverse">{{ page.section_hero.header }}</h1>
        <p class="inverse">{{ page.section_hero.subheader }}</p>
    </div>

    <div class="ucr-section-body text-center" id="mocks">
        {% include mocks_block.html %}
    </div>
    {% endcapture %}
    {% include content_block.html content=section_content section_name='ucr-section-hero' %}

    {% capture section_content %}
    <div class="ucr-section-header px-0 px-md-5">
        <h2>{{ page.section_products.header }}</h2>
        <span>{{ page.section_products.subheader }}</span>
    </div>

    <ul class="row pt-6">
        {% for product in site.products %}
        <li class="ucr-product col-sm-6 col-md-3 mb-6 mb-sm-0">
            <div class="ucr-product-inner">
                <div class="ucr-product-header">
                    <img src="{{ product.thumbnail | default:"/assets/images/placeholders/pug1.jpg" }}" class="rounded-circle" alt="{{ product.name }}" />
                    <h4 class="spaced">{{ product.name }} Exam</h4>
                </div>

                <div class="ucr-product-footer">
                    <a href="{{ product.url }}">Learn More</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="ucr-section-footer pt-0 pt-sm-5">
        <a href="{{ site.portal.url }}{{ site.portal.paths.cart }}?product=all&trial=0" class="btn btn-cta-light">Get All Exams</a>
    </div>
    {% endcapture %}
    {% include content_block.html content=section_content section_name='ucr-section-products pt-0 pt-sm-2' %}

    {% assign review = featured_reviews[3] %}
    {% include testimonial_block.html review=review %}

    {% include footer.html %}
</body>
</html>