{% assign featured_reviews = site.reviews | where:"featured","true" %}
<html>
  <!-- meta data and products -->
  {% capture data_layer %}
  <script type="text/javascript">
  dataLayer.push({
  'ecommerce': {
  'detail': {
  'actionField': {'list': 'CPA Products'},    // 'detail' actions have an optional list property.
  'products': [{
  'name': '{{ page.name }}',         // Name or ID is required.
  'id': '{{ page.name }}',
  'price': '{{ page.price | replace:"$", "" }}',
  'brand': 'Universal CPA Review',
  'category': 'CPA',
  'variant': 'CPA'
  }]
  }
  }
  });
  </script>
{% endcapture %}
{% include head.html data_layer=data_layer style_override="product_index" %}
<body style="background-color: #F8F5FA;">


  <!-- Start Nav -->
  {% include nav.html %}
  <!-- End Nav -->

  <!-- Hero Section -->
<section id="product_banner" class="major">
    <div class="jumbotron text-center mt-5 bg-transparent" style="background-image:url('/assets/images/banners/base.png'); background-size:cover;">
    <div class="container text-center col-sm-7 mx-auto my-5 d-block">
      <h1 class="ucr-section-header text-white">
      {{ page.section_hero.header }} </h1>
      <p class="lead" style="color: white;">
        {{ page.section_hero.subheader }}
      </p>
    <div class="justify-content-center pb-4">
      {% if page.old_price %}

        <h3 class="text-center" style="color:white; font-weight: 500;">
        {{ page.old_price }}
        </h3>
      {% endif %}
      <h3 class="text-center" style="color: white;">

      {{ page.price }}

      </h3>
      <p class="lead mx-auto d-block w-75">
        <a class="btn btn-primary btn-outline-light px-4" href="{{ site.portal.url }}{{ site.portal.paths.cart }}?product={{ page.checkout_code }}&trial=0" role="button">
          {{ page.section_hero.bundle.cta_text }}
        </a>
      </p>
    </div>
  </div>
  </div>
  </section>
  {% if page.section_hero.bundle.image %}
    <div class="ucr-bundle overlay-img mt-n6">
      <img style="margin-top:-18rem;" class="ucr-bundle-image mx-auto d-block" width="550px" height="auto" src={{ page.section_hero.bundle.image }} />
    {% else %}
      {% include mocks_block.html %}
    {% endif %}
  </div>


  <!--  -->

  <!-- Features  -->
  <div class="container" style="background-color: transparent;">
    <h6 class="text-center">CHECKOUT FEATURES</h6>
    <h3 class="text-md-center">
    {{ page.section_features.header }}
    </h3>

    <div class="row">
      <div class="container">
      <div class="card-deck">
      {% for feature in page.section_features.features %}
      <div class="col-sm-3 feature-block align-items-stretch d-flex mb-2 p-0">
        <div class="ucr-product card bg-white" style="box-shadow: 1px 1px 6px 0 #00000040;">
        <img class="d-block mx-auto mt-4" src="/assets/images/product-assets /feature-icon.png" width="56" height="41" alt=""/>
        {% assign first_word = feature | | truncatewords: 1, "" %}
        <div class="card-body">
        <h5 class="card-title text-center pb-2"> {{ first_word }} </h5>
        <p class="card-text text-center align-bottom pb-1"> {{ feature | remove: first_word}}  </p>
        </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
</div>


{% include pricing_table.html %}
{% assign cta_type = include.cta_type | default:"detail" %}
<h5 class="text-center">CHOOSE YOUR CPA EXAM</h5>
<h3 class="text-center">Select test section to begin your practice questions </h3>
<ul class="row ucr-products">
  {% for product in include.products %}
    <li class="col-md mb-6 mb-md-0">
      {% if cta_type == "detail" %}
        {% assign cta_url = product.url %}
      {% endif %}
      {% include product_block.html thumbnail=product.thumbnail name=product.name cta_url=cta_url cta_text="Learn More" checkout_code=product.checkout_code %}
    </li>
  {% endfor %}
</ul>
<div class="pt-6">
  {% assign products = site.products %}
  {% assign products = products | where_exp:"item", "item.tags contains page.section_products.tag" %}
  {% include products_block.html products=products %}
</div>
{% if page.checkout_code %}
  <div class="ucr-section-footer pt-0 pt-sm-5">
    <a href="{{ site.portal.url }}{{ site.portal.paths.cart }}?product={{ page.checkout_code }}&trial=0" class="btn btn-primary">{{ page.section_hero.bundle.cta_text }}</a>
  </div>
{% endif %}

</div>
{% include content_block.html content=section_content section_name='ucr-section-products pt-0 pt-sm-2' %}
{% assign review = featured_reviews[3] %}
{% include testimonial_block.html review=review %}
<!-- Footer -->
{% include footer.html %}
</body>
</html>
