{% assign featured_reviews = site.reviews | where:"featured","true" %}
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include nav.html %}

    {% include scores_release_block.html %}

    {% capture section_content %}
    <div class="ucr-section-header px-0 px-md-5">
        <h1 class="inverse">{{ page.section_hero.header }}</h1>
        <p class="inverse">{{ page.section_hero.subheader }}</p>
    </div>

    <div class="ucr-section-body text-center" id="mocks">
        {% include mocks_block.html %}
    </div>
    {% endcapture %}
    {% include content_block.html content=section_content section_name='ucr-section-hero' %}

    {% capture section_content %}
    <div class="ucr-section-header px-0 px-md-5">
        <h2>{{ page.section_products.header }}</h2>
        <span>{{ page.section_products.subheader }}</span>
    </div>

    <div class="pt-6">
    {% assign products = site.products  %}
    {% include products_block.html products=products %}
    </div>

    <div class="ucr-section-footer pt-0 pt-sm-5">
        <a href="{{ site.portal.url }}{{ site.portal.paths.cart }}?product=all&trial=0" class="btn btn-cta-light">Get All Exams</a>
    </div>
    {% endcapture %}
    {% include content_block.html content=section_content section_name='ucr-section-products pt-0 pt-sm-2' %}

    {% assign review = featured_reviews[3] %}
    {% include testimonial_block.html review=review %}

    {% include footer.html %}
</body>
</html>