{% assign featured_reviews = site.reviews | where:"featured","true" %}
<!DOCTYPE html>
<html>

{% capture data_layer %}
<script type="text/javascript">
    window.UCR.PageProduct = {
        'name': '{{ page.name }}',         // Name or ID is required.
        'id': '{{ page.name }}',
        'price': '{{ page.price | replace:"$", "" }}',
        'brand': 'Universal CPA Review',
        'category': 'CPA',
        'variant': 'CPA'
    };

    dataLayer.push({
        'ecommerce': {
            'detail': {
                'actionField': {'list': 'CPA Products'},    // 'detail' actions have an optional list property.
                'products': [window.UCR.PageProduct]
            }
        }
    });
</script>
{% endcapture %}
{% include head.html style_override='product' data_layer=data_layer %}

<body>
    {% include nav.html %}

    {% include scores_release_block.html %}

    <!-- Header Section -->
    {% capture section_content %}
    <div class="ucr-section-header px-3 px-md-5">
        <h1 class="inverse">{{ page.name }}</h1>

        <div class="ucr-product-main-price d-flex justify-content-center">
            {% if page.old_price %}<h3 class="old-price pr-2">{{ page.old_price }}</h3>{% endif %}
            <h3 class="new-price">{{ page.price }}</h3>
        </div>

        <p class="inverse">{{ page.short_description }}</p>
    </div>

    <div class="ucr-button-row py-2 py-sm-5">
        <div class="d-block d-sm-inline-block mx-0 mx-sm-4 mb-3 mb-sm-0">
            <a href="{{ site.portal.url }}{{ site.portal.paths.trial }}?product={{ page.name }}" class="btn btn-cta-light">Try for Free</a>
        </div>

        <div class="d-block d-sm-inline-block mx-0 mx-sm-4 mb-4 mb-sm-0">
            <a href="{{ site.portal.url }}{{ site.portal.paths.cart }}?product={{ page.name }}" class="btn btn-cta-dark btn-buy">Buy Now</a>
        </div>
    </div>

    <div class="ucr-section-body text-center pt-5 pt-sm-3">
    {% include mocks_block.html %}
    </div>
    {% endcapture %}
    {% include content_block.html content=section_content section_name='ucr-section-hero' %}

    <!-- Features Section -->
    {% capture section_content %}
    <div class="ucr-product-features">
        <h3 class="text-center mb-3 mb-sm-5">Universal {{ page.name }} Exam Supplementary Material</h3>

        <div class="row">
            {% assign all_features = "" | split: "" %}
            {% for feature in page.features %}
            {% assign all_features = all_features | push:feature %}
            {% endfor %}
            {% for feature in site.data.shared_features %}
            {% assign all_features = all_features | push:feature %}
            {% endfor %}
            <div class="col-sm-6">
                <ul>
                    {% for feature in all_features %}
                    {% assign mod = forloop.index0 | modulo:2 %}
                    {% if mod == 0  %}
                    <li>{{ feature }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="col-sm-6">
                <ul>
                    {% for feature in all_features %}
                    {% assign mod = forloop.index0 | modulo:2 %}
                    {% if mod == 1  %}
                    <li>{{ feature }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center mt-3 mt-sm-5">
        <a href="{{ site.portal.url }}{{ site.portal.paths.trial }}?product={{ page.name }}" class="btn btn-cta-light">Get Started Today</a>
    </div>
    {% endcapture %}
    {% include content_block.html content=section_content section_name='ucr-section-features' %}

    {% assign review = featured_reviews[3] %}
    {% include testimonial_block.html review=review %}

    {% capture section_content %}
    <div class="ucr-section-header pt-3 pt-sm-4 px-3 px-md-5">
        <h2>Check out our other supplementary materials</h2>
        <span>All products come with a free trial</span>
    </div>

    {% assign other_products = site.products | where_exp:"item", "item.name != page.name" %}
    <div class="pt-6">
    {% include products_block.html products=other_products %}
    </div>

    <div class="ucr-section-footer pt-0 pt-sm-5 text-center">
        <a href="{{ site.portal.url }}{{ site.portal.paths.cart }}?product=all&trial=0" class="btn btn-cta-light">Get All Exams</a>
    </div>
    {% endcapture %}
    {% include content_block.html content=section_content section_name='ucr-section-products pt-0 pt-sm-2' %}

    {% include footer.html js='/assets/dist/product.min.js' %}
</body>
</html>